html {
  scroll-behavior: smooth;
}

.header-size {
  height: 800px;
}

.nav-bg {
  background-color: none;
}

nav {
  box-shadow: none !important;
}

.main-bg {
  position: relative;
  float: right;
  width: 100%;
  height: 70%;
  background-repeat: no-repeat;
  right: 0;
  margin-top: 30%;
}

.main-bg2 {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  border-bottom-left-radius: 300% 500px;
  left: 0;
}

/* For typing effect */
h1 {
  font-family: "mainfont-medium";
  text-align: left;
  padding-top: 7rem;
  font-size: 6rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "mainfont-medium";
}

.jumbotron {
  height: 35rem;
}

.jumbotron-bot {
  height: 20rem;
}

#typing-span {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.principle-block {
  margin-top: 200px;
}

.principle-card {
  margin-top: 100px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.card-comments {
  background-color: #6c758b;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-main {
  height: 250px;
  border-radius: 25px;
}

.card-main-disabled {
  background-color: #F6F6F6;
}

.card-joinus {
  height: 100%;
  border-radius: 25px;
  width: 120%;
}

/* Card zoom effect */
.zoom {
  transition: transform 0.2s;
  color: black;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.zoom:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
  color: black;
}
a:hover {
  text-decoration: none;
}

#mySidenav a {
  position: fixed;
  right: -97px;
  top: 80%;
  transition: 0.3s;
  padding: 10px;
  width: 138px;
  text-decoration: none;
  text-align: right;
  font-size: 20px;
  color: white;
  border-radius: 10px 0 0 10px;
}

#mySidenav a:hover {
  right: 0;
}

#about {
  background-color: #4caf50;
  z-index: 1;
}

/* Slideshow */
* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  font-weight: 300;
}

.navbar-nav .nav-item .nav-link {
  color: #000;
  transition: 0.35s;
}

.mySlides1,
.mySlides2,
.mySlides3,
.mySlides4 {
  display: none;
}

img {
  vertical-align: middle;
}

/* School and Company images */
.logo-row {
  margin-top: 20px;
}
.SCimg {
  width: 136px;
  height: auto;
}
.SCimg-mp {
  width: 120px;
  height: auto;
}

.SCimg-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border-radius: 25px;
}

.slideshow-pic {
  width: 15rem;
  height: 20rem;
  margin-left: 30%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.button-text {
  font-size: 1.25rem;
}

/* Big avatar image for intro */
.avatar-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

/* Small avatar image for comments */
.avatar-img-2 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.joinus-btn {
  background-color: #bbcdfb;
  padding: 10px 19px 11px 19px;
  border-width: 0px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
}

.new-post {
  width: 270px;
  height: 127px;
}

.sidelinks {
  margin-left: 15px;
  margin-bottom: 30px;
}
.sidelinks p {
  margin-left: -15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
}

.article-img {
  width: 250px;
  height: 112px;
}

.article-text {
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  width: 270px;
}

.article-title {
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
}
.article-desc {
  color: grey;
  font-size: 16px;
}

/* Footer paragraph text */
footer div p {
  font-size: 0.8rem;
  margin-bottom: 4px;
}

footer p a {
  color: inherit;
  font-weight: 600;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* Small Screens */
@media only screen and (max-width: 600px) {
  /* Main page */
  .cardTitle {
    margin-top: 10px;
    font-size: 1.5rem;
  }
  .cardText {
    font-size: 0.95rem;
  }
  .cardBook {
    width: 140px;
    height: 140px;
    margin-top: 3rem;
  }
  .cardPerson {
    width: 180px;
    height: 180px;
    margin-top: 35px;
    margin-left: -20px;
  }
  .cardLayer {
    width: 160px;
    height: 160px;
    margin-top: 30px;
  }
  .cardLaptop {
    width: 180px;
    height: 100px;
    margin-top: 70px;
    margin-left: -10px;
  }
  .cardHouse {
    width: 280px;
    height: 180px;
    margin-top: 20px;
    margin-left: -45px;
  }
  .small-anchor {
    color: #a4a4a4;
    font-size: 0.8rem;
    margin-top: 40%;
  }
  .testimony {
    margin-left: -20px;
  }
  .testimony p {
    font-size: medium;
  }
  .testimony p b {
    font-size: 1.5rem;
  }
  .testimony strong {
    font-weight: bold;
  }
  .first-comment {
    margin-bottom: 20%;
  }
  .last-comment {
    margin-top: 10%;
  }

  /* LXS page */
  .xxGuide {
    margin-top: 40px;
  }

  /* Aboutus Page */
  .descDiv {
    margin-left: 50%;
  }
  .aboutusDesc {
    margin-right: 10%;
    font-size: 13px;
  }
  .aboutus-comment {
    margin-bottom: 20px;
  }

  /* Joinus Page */
  .joinusDesc {
    margin-left: 12%;
    margin-right: 10%;
  }
  .joinusBtn {
    margin-left: 35%;
  }
  .contactDesc {
    padding-right: 0;
  }
  .contactBtn {
    padding-left: 35%;
  }
  .footer-btn {
    margin: 0 0 5% 45%;
  }

  /* Notes Page */
  .notebook {
    width: 150px;
    height: 150px;
    margin-left: 56%;
  }
  .leftNav {
    margin-left: 12%;
  }

  /* Misc */
  .contactTitle {
    margin-left: 10%;
  }
}

/* Big Screens */
@media only screen and (min-width: 601px) {
  /* Main page */
  .cardTitle {
    margin-top: 10px;
  }
  .cardText {
    font-size: 1rem;
  }
  .cardBook {
    width: 140px;
    height: 140px;
    margin: 3rem 0 0 4rem;
  }
  .cardPerson {
    width: 200px;
    height: 200px;
    margin: 35px 0 0 20px;
  }
  .cardLayer {
    width: 160px;
    height: 160px;
    margin: 30px 0 0 35px;
  }
  .cardLaptop {
    width: 220px;
    height: 150px;
    margin: 30px 0 0 24px;
  }
  .cardHouse {
    width: 300px;
    height: 200px;
    margin-top: 20px;
  }
  .small-anchor {
    color: #a4a4a4;
    font-size: 0.8rem;
    margin-top: 25%;
  }
  .comingSoon {
    padding-top: 20px;
  }
  .testimony {
    color: #2c3a64;
    width: 480px;
    margin-left: -20px;
  }
  .testimony p {
    padding-top: 10px;
    /* font-size: medium; */
  }
  .testimony p b {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .testimony strong {
    font-weight: bold;
  }
  .middle-comment {
    margin-top: 70%;
  }
  .last-comment {
    margin-top: 40%;
  }

  /* LXS page */
  .lxsBtn {
    margin-top: 78px;
  }

  /* Aboutus Page */
  .descDiv {
    margin-left: 60%;
    width: 35%;
  }
  .shareSolidarity {
    padding: 0 18% 0 18%;
  }
  .aboutus-comment {
    width: 80%;
  }
  .aboutus-mid-comment {
    margin-left: 20%;
  }

  /* Joinus Page  */
  .contactDesc {
    padding-right: 210px;
  }
  .contactBtn {
    padding-left: 20px;
  }
  .footer-btn {
    margin: 0 0 2% 10%;
  }
  .contactus-text {
    margin-top: 8px;
  }

  /* Notes Page */
  .notebook {
    width: 300px;
    height: 300px;
    position: relative;
    bottom: -8px;
    left: 60px;
  }
  .post-num {
    margin-left: 40px;
  }
}
