html {
  scroll-behavior: smooth;
}

.header-size {
  height: 800px;
}

.nav-bg {
  background-color: none;
}

.nav-brand {
  margin-left: 10%;
}

nav {
  box-shadow: none !important;
}

.main-bg {
  position: relative;
  float: right;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  right: 0;
}

.main-bg2 {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  border-bottom-left-radius: 300% 500px;
  left: 0;
}

/* For typing effect */
h1 {
  font-family: "Judson";
  color: "white";
  text-align: left;
  padding-top: 7rem;
  font-size: 6rem;
}

h2,
h3,
h4,
h5,
h6 {
  color: "white";
  font-family: "Judson";
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/* Slideshow */
* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  font-weight: 300;
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
  transition: 0.35s;
  margin: 1.5rem;
}

img {
  vertical-align: middle;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Main page 2 */
.main-btn {
  width: 15rem;
  height: 3rem;
  outline: #fff;
  color: #fff;
  font-family: 'Judson';
  font-size: 1.3rem;
  border: 1px solid white;
  padding-left: 2%;
  border-radius: 27px;
  background-color: #4368FB;
  text-align: left;
  margin-top: 1%;
}

/* Main page 3 */
.m3-num-col {
  text-align: center;
}
.m3-num {
  color: white;
  font-size: 3rem;
  font-family: 'Judson';
}
.m3-num-text {
  color: white;
  font-size: 1rem;
  font-family: 'Judson';
  margin: -5% 25% 0 25%;
}