.header-size {
  height: 800px;
}

.nav-bg {
  background-color: none;
}

nav {
  box-shadow: none !important;
}

.main-bg {
  position: relative;
  float: right;
  width: 100%;
  height: 70%;
  background-repeat: no-repeat;
  right: 0;
  margin-top: 30%;
}

.main-bg2 {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  border-bottom-left-radius: 300% 500px;
  left: 0;
}

/* For typing effect */
h1 {
  font-family: "mainfont-medium";
  text-align: left;
  padding-top: 7rem;
  font-size: 6rem;
}

.jumbotron {
  height: 35rem;
}

.jumbotron-bot {
  height: 20rem;
}

#typing-span {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.principle-block {
  margin-top: 200px;
}

.principle-card {
  margin-top: 100px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.card-comments {
  background-color: #6c758b;
}

.card-main {
  height: 250px;
  border-radius: 25px;
}

.card-joinus {
  height: 250px;
  border-radius: 25px;
  width: 120%;
}

.small-anchor {
  color: #a4a4a4;
  font-size: 0.8rem;
}

/* Card zoom effect */
.zoom {
  transition: transform 0.2s;
  color: black;
}

.zoom:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
  color: black;
}

#mySidenav a {
  position: fixed;
  right: -97px;
  top: 80%;
  transition: 0.3s;
  padding: 10px;
  width: 138px;
  text-decoration: none;
  text-align: right;
  font-size: 20px;
  color: white;
  border-radius: 10px 0 0 10px;
}

#mySidenav a:hover {
  right: 0;
}

#mySidenav2 a {
  position: fixed;
  right: -97px;
  top: 73%;
  transition: 0.3s;
  padding: 10px;
  width: 138px;
  text-decoration: none;
  text-align: right;
  font-size: 20px;
  color: white;
  border-radius: 10px 0 0 10px;
}

#mySidenav2 a:hover {
  right: 0;
}

#about {
  background-color: #4caf50;
  z-index: 1;
}

#email {
  background-color: #2196f3;
  z-index: 1;
}

/* Slideshow */
* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.mySlides1,
.mySlides2,
.mySlides3,
.mySlides4 {
  display: none;
}

img {
  vertical-align: middle;
}

/* School and Company images */
.SCimg {
  width: 136px;
  height: auto;
}

.SCimg-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border-radius: 25px;
}

.slideshow-pic {
  width: 15rem;
  height: 20rem;
  margin-left: 30%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.button-text {
  font-size: 1.25rem;
}

/* Big avatar image for intro */
.avatar-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

/* Small avatar image for comments */
.avatar-img-2 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.joinus-btn {
  background-color: #bbcdfb;
  padding: 10px 19px 11px 19px;
  border-width: 0px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  color: #fff;
  border-radius: 50px;
  margin-top: 15px;
}

.post-num {
  margin-left: 40px;
}

.new-post {
  width: 270px;
  height: 127px;
}

.sidelinks {
  margin-left: 15px;
  margin-bottom: 30px;
}
.sidelinks p {
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
}

.article-img {
  width: 250px;
  height: 112px;
}

.article-text {
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  width: 270px;
}

/* Footer paragraph text */
footer div p {
  font-size: 0.8rem;
  margin-bottom: 4px;
}

footer p a {
  color: inherit;
  font-weight: 600;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
