{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  {% block title%}{% endblock%}
  <link rel="icon" href="{% static 'IndexPage/img/logo.ico' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link href="{% static 'IndexPage/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'IndexPage/css/mdb.min.css'%}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'IndexPage/css/font.css' %}" media="none" onload="this.media='all';">
  <link rel="stylesheet" href="{% static 'IndexPage/css/main.css' %}">
  <style type="text/css">
    html,
    body,
    header,
    .carousel {
      height: 60vh;
    }

    p {
      font-size: 1.2rem;
    }

    h2, h3, h4, h5, h6 {
      font-family: 'mainfont-medium';
    }

    a,
    .brand {
      color: inherit;
    }

    html {
      scroll-behavior: smooth;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      .navbar:not(.top-nav-collapse) {
        background: #000000 !important;
      }
    }
  </style>
</head>

<body>


  <!-- Navbar -->
  <nav class="navbar nav-bg navbar-expand-lg navbar-light scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" href="#">
        <img src="{% static 'IndexPage/img/logo.png' %}" width=140px height=70px alt="XX logo">
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'XUNXIANG-Home'%}">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'XUNXIANG-Home'%}">寻向板块</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'XUNXIANG-About' %}">关于我们</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactus">联系/加入我们</a>
          </li>
          <!-- <span class="sr-only">(current)</span> -->
        </ul>
      </div>
    </div>
  </nav>

    {% block content%}{%endblock%}
    <div id="mySidenav" class="align">
        <a data-toggle="modal" data-target="#contactinfo" id="about"><i class="fab fa-weixin mr-2"></i> 关注我们</a>
      </div>
      <div id="mySidenav2" class="align">
        <a href="mailto:xunxiangweb@gmail.com" id="email"><i class="fas fa-envelope"></i>&nbsp 联系我们</a>
      </div>
      <div class="modal fade" id="contactinfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">寻向微信公众号 <i class="fab fa-weixin mr-2"></i></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <img src="{%static 'IndexPage/img/qrcode.jpg'%}" alt="QR code">
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    {%block module%}{%endblock%}
      <!-- Section: 联系我们 -->
  <section class="jumbotron" style="background-color: #6C758B;" id="contactus">
    <div class="container">
      <div class="row">
        <h2 class="my-5 h2" style="color: white;">联系我们</h2>
        <!-- <img src="img/chat.png" height="50" width="50" style="margin-top: 40px; margin-left: 40px;" alt="chat icon"> -->
        <img src="{% static 'IndexPage/img/chat.png'%}" height="50" width="50" style="margin-top: 40px; margin-left: 40px;" alt="chat icon">
        <a href="mailto:xunxiangweb@gmail.com"><img src="{% static 'IndexPage/img/email.png'%}" height="50" width="50" style="margin-top: 40px; margin-left: 20px;" alt="email icon"></a>
      </div>
      <div class="row">
        <h3 style="margin-left: 20px; margin-right:50px; color: white;">合作</h3>
        <p style="width: 60%; color: white;">
          如果你也是针对留学生的公益平台，生产对留学生个人和职业发展有极大帮助的精华内容，我们希望帮助你的平台成长，传播你的内容给更多留学生看到。</p>
      </div>
      <div class="row">
        <h3 style="margin-left: 20px; margin-right:50px; color: white;">推广</h3>
        <p style="width: 60%; color: white;">社群致力于拥有各种背景，各种行业，各种兴趣的年轻职场人提供人脉和知识。大家彼此之间相互分享，互相赋能。</p>
      </div>
      <div class="row">
        <h3 style="margin-left: 20px; margin-right:50px; color: white;">建议</h3>
        <p style="width: 60%; color: white;">如果你对寻向各个项目和产品有任何建议和疑问，请联系：</p>
      </div>
      <img src="{% static 'IndexPage/img/logo.png'%}" style="float: right" width=140px height=70px alt="XX logo">
    </div>
  </section>

  <footer id="bottom" class="text-center font-small mt-4">
    <div class="py-3" style="color: #6C758B;">
      <p style="font-weight: 600;">Designed and developed by XUNXIANG</p>
      <p>With special thanks to Yushun Chen, Mei Xia, and Wenqing Yin</p>
      <p>© 2020 Copyright: <a href="#"> 寻向网站 </a></p>
    </div>
  </footer>
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{% static 'IndexPage/js/jquery-3.4.1.min.js'%}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'IndexPage/js/popper.min.js'%}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'IndexPage/js/bootstrap.min.js'%}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'IndexPage/js/mdb.min.js'%}"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>
  <script src="{% static 'IndexPage/js/index.js'%}"></script>
  </body>
  </html>