{% extends "IndexPage/base.html"%}
{% load static %}

{%block title%}
<title>寻向网站</title>
{% endblock title%}
{%block content%}
<section style="padding-left: 10%;">
  <div class="row">
    <div class="col-lg-5">
      <h1 style="color: #9179AB">寻向，</h1>
      <br>
      <!-- id="typing-text" -->
      <h2>陪伴留学生找到未来的方向。</h2>
      <br> <br>
      <!-- <p>寻向是由北美留学生发起的非营利组织。在这里，迷茫中的留学生通过前辈分享的知识、经验、资源了解关于未来的各种可能性，找到属于自己的方向。</p> -->
      <p>寻向是由北美留学生于2018年发起的非营利组织，其目的是通过采访过来人，导师项目，互助社群等形式，帮助留学生了解更多的职业方向和未来发展的可能性，连接在校生和职场人，使知识、经验、资源在留学生中不断传承。</p>
    </div>
    <!-- Fake padding -->
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
      <img src="{% static 'IndexPage/img/mainbg.svg'%}" class="main-bg" alt="main bg">
    </div>
  </div>
  <!-- <a href="#blocks"><p>请往下滑</p></a> -->
</section>
{%endblock content%}

{%block module%}
<main>
<div class="container">
    <!--Section: 六大板块卡片-->
    <section style="padding-top: 5%;" class="mt-5 wow fadeIn" id="blocks">
      <h2 class="my-5 h2" style="color: #6C758B;">我们的五大板块</h2>
      <div class="row">
        <div class="col-lg-6">
          <a href="{% url 'BIJI-Home'%}">
            <div class="card zoom card-main">
              <div class="card-body">

                <div class="row">
                  <div class="col-6">
                    <h3 style="margin-top: 10px;">寻向笔记</h3>
                    <img src="{% static 'IndexPage/img/1line.png'%}" style="position: relative; top: -10px;" alt="line1">
                    <p style="font-size: 1rem;">记录与讲述留学生梦想与选择的笔记本</p>
                    <br> <br>
                    <p class="small-anchor">了解更多</p>
                  </div>
                  <div class="col-6">
                    <img src="{% static 'IndexPage/img/notebook.svg'%}" style="width:140px; height:140px; margin-left: 4rem; margin-top: 3rem;" alt="notebook">
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="{% url 'LIANXI-Home'%}">
            <div class="card zoom card-main">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <h3 style="margin-top: 10px;">寻向练习生</h3>
                    <img src="{% static 'IndexPage/img/2line.png'%}" style="position: relative; top: -10px;" alt="line2">
                    <p style="font-size: 1rem;">帮助留学生成长与进阶的菁英社群</p>
                    <br> <br>
                    <p class="small-anchor">了解更多</p>
                  </div>
                  <div class="col-6">
                    <img src="{% static 'IndexPage/img/LXS/maskedperson.svg'%}" style="width:200px;height:200px; margin-top: 35px; margin-left: 20px;" alt="maskperson">
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!--/First row-->
      <br>
      <!--Second row-->
      <div class="row">
        <div class="col-lg-6">
          <a href="#">
            <div class="card zoom card-main">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <h3 style="margin-top: 10px;">寻向行业</h3>
                    <img src="{% static 'IndexPage/img/3line.png'%}" style="position: relative; top: -10px;" alt="line3">
                    <p style="font-size: 1rem; margin-top: 15px;">记录与讲述留学生梦想与选择的笔记本</p>
                    <br>
                    <p class="small-anchor">了解更多</p>
                  </div>
                  <div class="col-6">
                    <img src="{% static 'IndexPage/img/layers.svg'%}" style="width:160px;height:160px; margin-left: 35px; margin-top: 30px;" alt="layers">
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="#">
            <div class="card zoom card-main">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <h3 style="margin-top: 10px;">寻向职场人</h3>
                    <img src="{% static 'IndexPage/img/4line.png'%}" style="position: relative; top: -10px;" alt="line4">
                    <p style="font-size: 1rem; margin-top: 15px;">讲留学后的中国年轻职场人凝聚在一起的社区</p>
                    <br>
                    <p class="small-anchor">了解更多</p>
                  </div>
                  <div class="col-6">
                    <img src="{% static 'IndexPage/img/laptop.svg'%}" style="width:220px;height:150px; margin-left: 24px; margin-top: 30px;" alt="laptop">
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!--/Second row-->
      <br>
      <!--Third row-->
      <div class="row">
        <!-- <div class="col-lg-6">
          <a href="#">
            <div class="card zoom card-main">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <h3 style="margin-top: 10px;">寻向广场</h3>
                    <img src="{% static 'IndexPage/img/5line.png'%}" style="position: relative; top: -10px;" alt="line5">
                    <p style="font-size: 1rem; margin-top: 15px;">记录与讲述留学生梦想与选择的笔记本</p>
                    <br>
                    <p class="small-anchor">了解更多</p>
                  </div>
                  <div class="col-6">
                    <img src="{% static 'IndexPage/img/jump.png'%}" style="width:240px;height:180px; margin-top: 40px;" alt="jump">
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div> -->
        <div class="col-lg-6">
          <a href="#">
            <div class="card zoom card-main">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <h3 style="margin-top: 10px;">寻向彼岸</h3>
                    <img src="{% static 'IndexPage/img/6line.png'%}" style="position: relative; top: -10px;" alt="line6">
                    <p style="font-size: 1rem; margin-top: 15px;">连接北美留学家庭的此岸和彼岸</p>
                    <br><br>
                    <p class="small-anchor">了解更多</p>
                  </div>
                  <div class="col-6">
                    <img src="{% static 'IndexPage/img/lighthouse.svg'%}" style="width:300px;height:200px; margin-top: 20px;" alt="lighthouse">
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!--/Second row-->
    </section>
  </main>
    <!--Section: 数据和评价-->
  <br>
  <style>
      #achivements{
            background: url("{% static 'IndexPage/img/pedal.png' %}") no-repeat; 
            background-size: 1200px 650px; 
            height: 800px;
      }
  </style>
  <section class="mt-5 wow fadeIn" id="achivements">
    <div class="container">
      <div class="row">
        <div class="col-lg-6" style="margin-top: 150px;">
          <h3 style="color: #2C3A64;">这些年来，我们做了...</h3>
          <div class="container" style="color: #2C3A64; width: 440px">
            <p style="padding-top: 10px;">寻向微信公众号目前发布 <b style="font-size: 2rem;">72</b> 篇寻向笔记</p>
            <p style="padding-top: 10px;">采访了就职于 <b style="font-size: 2rem;">43</b> 个公司中从事 <b
                style="font-size: 2rem;">121</b> 个不同职业的年轻职场人</p>
            <p>寻向练习生社群包含 <b style="font-size: 2rem;">39</b> 名，就读于<b style="font-size: 2rem;">20</b>
              所不同大学，<b style="font-size: 2rem;">35</b> 种不同专业的大学在校生，以及 <b style="font-size: 2rem;">15</b>
              名处于各行各业顶尖公司的练习生领队</p>
          </div>
        </div>
        <div class="col-lg-6" style="margin-top: 150px;">
          <div class="row">
            <img src="{% static 'IndexPage/img/aboutus/doe.png'%}" class="avatar-img-2" alt="avatar1">
            <div class="card mx-auto card-comments" style="width: 70%;">
              <div class="card-body" style="color: white;">
                很幸运在大学的最后两年遇到了寻向，结识了一群非常有想法非常有规划的小伙伴，每次在聊天结束之后都会惊叹于人生的多样可能性，自己眼前的路也变得更加清晰，希望后面加入的小伙伴能够继续寻向的精神传递！
              </div>
            </div>
          </div>
          <div class="row" style="color: #2C3A64; margin-left: 1%;">
            <p>王小明</p>
          </div>
          <div class="row" style="color: #2C3A64; margin-top: -20px;">
            <p style="font-size: 0.8rem;">UW 19届 BME专业</p>
          </div>

          <div class="row">
            <div class="card mx-auto card-comments" style="width: 70%;">
              <div class="card-body" style="color: white;">
                我们常说peer pressure，但是在寻向我是真的感受到了peer help！学长学姐公益的走心的经历和资源的分享，都让我们在求职路上，多一份深入思考，多一种可能性！
              </div>
            </div>
            <img src="{% static 'IndexPage/img/aboutus/doe.png'%}" class="avatar-img-2" style="margin-right: 10px;" alt="avatar1">
          </div>
          <div class="row" style="color: #2C3A64; margin-left: 86%;">
            <p>王小明</p>
          </div>
          <div class="row" style="color: #2C3A64; margin-left: 81%; margin-top: -20px;">
            <p style="font-size: 0.8rem;">UW 19届 BME专业</p>
          </div>

          <br>
          <div class="row">
            <img src="{% static 'IndexPage/img/aboutus/doe.png'%}" class="avatar-img-2" alt="avatar1">
            <div class="card mx-auto card-comments" style="width: 70%;">
              <div class="card-body" style="color: white;">
                如果你也曾迷茫过自己面前的道路，如果你想对未来的各种可能得到更多的了解，那么就加入寻向吧。在优秀的学长学姐们的指导下，在志同道合的小伙伴们的陪伴下，寻找前行的方向。
              </div>
            </div>
          </div>
          <div class="row" style="color: #2C3A64; margin-left: 1%;">
            <p>王小明</p>
          </div>
          <div class="row" style="color: #2C3A64; margin-top: -20px;">
            <p style="font-size: 0.8rem;">UW 19届 BME专业</p>
          </div>

        </div>
      </div>
    </div>
  </section>

  <main>
    <!--Section: 寻向分布-->
    <section class="mt-5 wow fadeIn" id="aboutteam">
      <div class="container">
        <h2 class="my-5 h2" style="color: #6C758B;">寻向分布</h2>
      </div>
      <div class="container">
        <!-- First Row -->
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h4 class="text-center">小标题</h4>
            <div class="row">
              <div class="col-lg-3 col-sm-6 text-center">
                <img src="{% static 'IndexPage/img/avatar1.png'%}" height="100" width="100" alt="avatar1">
              </div>
              <div class="col-lg-3 col-sm-6 text-center">
                <img src="{% static 'IndexPage/img/avatar2.png'%}" height="100" width="100" alt="avatar1">
              </div>
              <div class="col-lg-3 col-sm-6 text-center">
                <img src="{% static 'IndexPage/img/avatar3.png'%}" height="100" width="100" alt="avatar1">
              </div>
              <div class="col-lg-3 col-sm-6 text-center">
                <img src="{% static 'IndexPage/img/avatar4.png'%}" height="100" width="100" alt="avatar1">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <h4 class="text-center">小标题</h4>
            <div class="row">
              <div class="col-lg-3 col-sm-6 text-center">
                <img src="{% static 'IndexPage/img/avatar1.png'%}" height="100" width="100" alt="avatar1">
              </div>
              <div class="col-lg-3 col-sm-6 text-center">
                <img src="{% static 'IndexPage/img/avatar2.png'%}" height="100" width="100" alt="avatar1">
              </div>
              <div class="col-lg-3 col-sm-6 text-center">
                <img src="{% static 'IndexPage/img/avatar3.png'%}" height="100" width="100" alt="avatar1">
              </div>
              <div class="col-lg-3 col-sm-6 text-center">
                <img src="{% static 'IndexPage/img/avatar4.png'%}" height="100" width="100" alt="avatar1">
              </div>
            </div>
          </div>
        </div>

        <br>
        <!-- Second Row -->
        {% for i in '12'%}
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-3 text-center">
                <img src="{% static 'IndexPage/img/avatar1.png'%}" height="100" width="100" alt="avatar1">
              </div>
              <div class="col-lg-3 text-center">
                <img src="{% static 'IndexPage/img/avatar2.png'%}" height="100" width="100" alt="avatar1">
              </div>
              <div class="col-lg-3 text-center">
                <img src="{% static 'IndexPage/img/avatar3.png'%}" height="100" width="100" alt="avatar1">
              </div>
              <div class="col-lg-3 text-center">
                <img src="{% static 'IndexPage/img/avatar4.png'%}" height="100" width="100" alt="avatar1">
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-3 text-center">
                <img src="{% static 'IndexPage/img/avatar1.png'%}" height="100" width="100" alt="avatar1">
              </div>
              <div class="col-lg-3 text-center">
                <img src="{% static 'IndexPage/img/avatar2.png'%}" height="100" width="100" alt="avatar1">
              </div>
              <div class="col-lg-3 text-center">
                <img src="{% static 'IndexPage/img/avatar3.png'%}" height="100" width="100" alt="avatar1">
              </div>
              <div class="col-lg-3 text-center">
                <img src="{% static 'IndexPage/img/avatar4.png'%}" height="100" width="100" alt="avatar1">
              </div>
            </div>
          </div>
        </div>
        <br>
        {%endfor%}

    </section>
    <br>
    <hr class="mb-5">
    </div>
  </main>
  <!--Main layout-->
{%endblock module%}