/* Font used mainly with three weights */
@font-face {
  font-family: 'mainfont-bold';
  src: url('../font/mainfont/bold/FZZZHONGJW--GB1-0.eot');
  src: url('../font/mainfont/bold/FZZZHONGHJW.ttf') format('truetype');
  src:
    url('../font/mainfont/bold/FZZZHONGJW--GB1-0.eot?#iefix') format('embedded-opentype'),
    url('../font/mainfont/bold/FZZZHONGJW--GB1-0.woff2') format('woff2'),
    url('../font/mainfont/bold/FZZZHONGJW--GB1-0.woff') format('woff'),
    url('../font/mainfont/bold/FZZZHONGJW--GB1-0.svg#FZZZHONGJW--GB1-0') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'mainfont-light';
  src: url('../font/mainfont/light/FZZXHJW--GB1-0.eot');
  src: url('../font/mainfont/light/FZZXHJW.ttf') format('truetype');
  src:
    url('../font/mainfont/light/FZZXHJW--GB1-0.eot?#iefix') format('embedded-opentype'),
    url('../font/mainfont/light/FZZXHJW--GB1-0.woff2') format('woff2'),
    url('../font/mainfont/light/FZZXHJW--GB1-0.woff') format('woff'),
    url('../font/mainfont/light/FZZXHJW--GB1-0.svg#FZZXHJW--GB1-0') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'mainfont-medium';
  src: url('../font/mainfont/medium/FZZZHUNHJW--GB1-0.eot');
  src: url('../font/mainfont/medium/FZZZHUNHJW.ttf') format('truetype');
  src:
    url('../font/mainfont/medium/FZZZHUNHJW--GB1-0.eot?#iefix') format('embedded-opentype'),
    url('../font/mainfont/medium/FZZZHUNHJW--GB1-0.woff2') format('woff2'),
    url('../font/mainfont/medium/FZZZHUNHJW--GB1-0.woff') format('woff'),
    url('../font/mainfont/medium/FZZZHUNHJW--GB1-0.svg#FZZZHUNHJW--GB1-0') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
